@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    margin:0;
    min-height: 100vh;
}

header {
    padding: 15px 15px 0 15px; 
}

main {
    margin-top: 0;
    padding: 15px;
}

.nav-list {
    list-style-type: none;
    padding-left: 0;
}

.nav-list li {
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: #69696a;
}

h1 {
    display: inline;
    color:#000;
}

#contents {
    color: #69696a;
    border-left:3px solid #69696a;
    padding-left: 15px
}

button {
    background-color: #000;
    color: #FFF;
    border-radius: 10rem;
    border-color: #000;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


.large-circle {
    width: 200px;
    height: 200px;
    background-color: rgba(247, 136, 167, 0.6);
    display: none;
    border-radius: 50%;
    opacity: 80%;

}
.medium-circle {
    width: 150px;
    height: 150px;
    display: none;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    opacity: 80%;   
}
.small-circle {
    width: 110px;
    height: 110px;
    background-color: rgba(207, 130, 213, 0.6);
    display: none;
    border-radius: 50%;
    opacity: 80%;
    
}

footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0
    
}
#footer {
    padding-left: 15px;
}
.nav-list2 {
    list-style-type: none;
    padding-right: 15px;
}

.nav-list2 li {
    display: inline;
}

@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }
    .nav-list li {
        padding-left: 20px;
    }

    .large-circle {
        display: block;
        position: absolute;
        right: 80px;
        top: 160px;
       
    }
    .medium-circle {
        display: block;
        position: absolute;
        right: 30px;
        top: 290px
        
    }
    .small-circle  {
        display: block;
        position: absolute;
        top: 210px;
        right: 10px;
        
    }
    main {
        width: 50%;
}
}