@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@1,200&display=swap');

body {
    margin: 0;
    font-family: sans-serif
}

header {
    background-color: #551A8B;
    color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: space-between;
    padding: 2px
}

span {
    display: flex;
    align-items: center;
    margin-left: .5em;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}
.nav-list li {
    display: inline;
    margin-right: .5em;
}

a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}
a:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .nav-list {
        margin: 0;
        margin-left: 8px;
        
    }
    
    .nav-list li {
        display: list-item;
        margin-top: 8px
    }

}

@media only screen and (min-width: 1025px) {
    header {
        display: flex;
        flex-direction: row-reverse;
}
    .nav-list {
        margin-left: 8px;
    }

    span {
        margin-right: 8px;
    }
}