body {
    background-color: #d8eff8;
}

#box {
    background-color: white;
    padding: 50px;
    box-shadow: 0px 5px 10px 2px #969c9d;
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;
}

fieldset {
    border: none;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 0.75cm; 
}

p {
    color: #969c9d;
    display: block;
} 

#email, #password {
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    margin-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #969c9d;
    
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #969c9d;
}
a:hover {
    opacity: 0.7;
}

button {
    background-color: #3e95dc;
    border-style: none;
    padding: auto;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    opacity: 0.7;
}

