body {
    background-color: #d8eff8;
}

fieldset {
    margin: auto;
    width: 350px;
    height: 400px;
    background-color: white;
    border-style: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    box-shadow: 0px 5px 20px 2px #bcbcbc
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px; 
    margin-top: 35px;
}

p {
    color: #969c9d;
    display: block;
} 

#box {
    width: 300px;
    height: 350px;
    padding: 20px;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#login-form {
    margin-bottom: 10px;
}

input {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    opacity: 0.7;
    color: #adaeae;
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px; 
    font-size: 15px;     
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #969c9d;
    font-size: 10px; 
}
a:hover {
    opacity: 0.7;
}
button:hover {
    opacity: 0.7;}
button {
    background-color: #3e95dc;
    color: whitesmoke;
    border-style: none;
    padding: 12px;
    margin-top: 20px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    height: auto;
    border-radius: 10px;
    
}
